{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	
    <title>Forum</title>
  </head>
  
	<body> 
	
	
	  <div class="container-fluid">
		<div class="row">
			<!-- To jest sekcja nawigacji -->
				<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position:fixed;">
				  <div class="container">
					
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
						  <a class="nav-link" aria-current="page" href="#">Domowa</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" aria-current="page" href="#">Informacje</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" aria-current="page" href="#">O nas</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" aria-current="page" href="#">Forum</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link " href="#">Link</a>
						</li>
						
						
						<li class="nav-item dropdown">
						  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown
						  </a>
						  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						  </ul>
						</li>
						<li class="nav-item">
						  <a class="nav-link " href="#">Strona</a>
						</li>
					  </ul>
					  <span class="navbar-text" style="font-style:italic; padding-right: 15px; color:black; font-size: 18px; font-weight: 700;">
						Strona stowrzona z myślą o ludziach ...
						</span>
					  <form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					  </form>
					</div>
				  </div>
				</nav>
			
			</div>
	  
		</div>

	  
		<div class="container-xl">
			<!-- Lewe menu, Tresc, Prawe menu -->
			<div class="row gx-3" style="padding-top:60px; padding-bottom:27px;">
				<div class="col-sm-2" >
					<div class="border" style="background-color:#B0FFFF">
					<div style="display: block; margin:0 auto; #background-color: gray; text-align: center; font-weight: 800; font-size:28px; color: #541FF3;">
					
					</div>
					
					<div class="list-group">
					  <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
						MENU
					  </button>
					  <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'o_nas' %}" style="color:black; text-decoration:none; display:block;" >O nas</a></button>
					  <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'wyniki' %}" style="color:black; text-decoration:none; display:block;" >Forum</a></button>
					  <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'tresc' %}" style="color:black; text-decoration:none; display:block;" >Informacje</a></button>				 
					  <button type="button" class="list-group-item list-group-item-action"><a href="{% url 'formularz' %}" style="color:black; text-decoration:none; display:block;" >Wyślij maila</a></button>
					  <button type="button" class="list-group-item list-group-item-action">FAQ</button>			
					  <button type="button" class="list-group-item list-group-item-action">Kontakt</button>	
					  <button type="button" class="list-group-item list-group-item-action">Rozbudowa</button>	
					</div>
					<br />
					
					</div>
				</div>
				<div class="col-sm-8" style="background-color: #DFF6F6; text-indent: 5em;">
				
					{% block trzy_kolumny %}
					{% endblock %}
					
					{% block tresc %}
					{% endblock %}	
					
					{% block wyniki %}
						{% include "blog/pagination.html" with page=posts %}
					{% endblock %}
					
					{% block dodaj_wpis %}
					{% endblock %}
					
				</div>
			
				<div id="menu_right" class="col-sm-2" >
					<div class="border" style="background-color: white"> 
					Miejsce na prawe menu 
					Miejsce na prawe menu 
					Miejsce na prawe menu 
					Miejsce na prawe menu 
					Miejsce na prawe menu 
					</div>
				</div>
			</div>
		</div>
			<!-- Koniec 3 bloków -->
			<!-- To jest część stopki poniżej... -->
			<div class="row">
				<div class="col-xl-12" style="background-color: #C456; position:fixed; bottom:0;">
					To jest stopka
				</div>
			</div>
  </body>
</html>