{% extends 'blog/base.html' %}

{% block wyslij_maila %}
<div class="border  " style="background-color: #DFF6F6;" >
	<form method="post" class="" >
	{% csrf_token %}
<!--	{{ form.as_p }} -->
	<table>
		<tr>
			<td>
				<div id="tamat_maila">
					<label for="temat">Temat maila:</label>
				</div>
			</td>
			<td>
			{{ form.temat }}
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td>
				<div id="wiadomosc">
					<label for="wiadomosc">Wiadomość:</label>		
				</div>
			</td>
			<td>
				{{ form.wiadomosc }}
			</td>
		</tr>
		<tr>
			<td>
				<div id="nadawca">
					<label for="nadawca">Nadawca:</label>		
				</div>
			</td>
			<td>
				{{ form.nadawca }}
			</td>
		</tr>
	</table>
	
	<button type="submit">Wyślij</button>
	</br>
	</form>
	Wyslanie posta  do {{ form.cleaned_data.to }} zakonczone sukcesem

	{% if sent %}
		OK
	</br>
		Mail został wysłany.
	</br>
	{% else %}
	NOK

	{% endif %}
</div>

{% endblock %}
